.card {
    position: relative;
    box-shadow: 7px 7px 0px 0px rgb(255, 0, 0);
    max-width: 120px;
    /* border: none; */
}
.card .title{
    text-align: center;
    padding: 12px 0;
    /* background-color: rgb(25, 25, 25); */
    /* margin-top: -4px; */
}
.card img{
    /* filter: invert(10%); */
    width: 100%;
}
.row {
    clear: both;
    display: table;
}
.column {
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 100%;
    width: 100%;
    opacity:0;
    transition: .5s ease;
    background-color: #e40000;
}
.card:hover .overlay {
    opacity: 0.5;
}
a:focus .card .overlay {
    opacity: 0.5;
}
