*{
    font-family: Consolas;
    color:#FFFFFF;   
}
body {
    margin-left: 0px;
    margin-top: 0px; 
    padding: 0px;
    background-color:black;
}
a {
    font-family:Consolas;
}
textarea {
    background-color:black;
    color:#FFFFFF;
    resize: none;
    padding: 2px;
}
input {
    background-color:black;
    color:#FFFFFF;
    padding: 2px;
    border: 1px solid #ffffff;
}
a:link {
    text-decoration: none;
    color: #ec0006;
}

a:visited {
    text-decoration: none;
    color: #ec0006;
    /* color: #b10000; */
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.center {
    text-align: center;
    margin-top: 55px;
}
.main {
    margin-left: 10px;
    margin-top: 55px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ec0006;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a.menu {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgb(187, 0, 0);
}
li a:focus:not(.active) {
    background-color: rgb(187, 0, 0);
}
.active {
    background-color: #000000;
}
.corner {
    position: fixed;
    right: 0;
    bottom: 0;
}
.skip-nav {
    position: fixed;
    transform: translateY(-200%);
    background-color: rgb(187, 0, 0);
}
.skip-nav:focus {
    transform: translateY(0);
}
button {
    background-color: black;
    border-color: white;
}