*{
    margin-left: 0px;
    margin-top: 0px; 
    padding: 0px;
    font-family: Consolas;
    color:#FFFFFF;
    
}

body {
    background-color:black;
}
/* 
table, th, td {
    border: 1px solid #ec0006;
    border-collapse: collapse;
}
th, td {
    background-color: #000000;
    text-align:center;
} */
a {
    font-family:Consolas;
}
textarea {
    background-color:black;
    color:#FFFFFF;
    resize: none;
    padding: 2px;
}
input {
    background-color:black;
    color:#FFFFFF;
    padding: 2px;
    border: 1px solid #ffffff;
}
a:link {
    text-decoration: none;
    color: #ec0006;
}

a:visited {
    text-decoration: none;
    color: #ec0006;
    /* color: #b10000; */
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.center {
    text-align: center;
    margin-top: 55px;
}
.main {
    margin-left: 10px;
    margin-top: 55px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ec0006;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a.menu {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgb(187, 0, 0);
}
li a:focus:not(.active) {
    background-color: rgb(187, 0, 0);
}


.active {
    background-color: #000000;
}
  
.normal
{
    color:white;
    font-family:Consolas;
    font-size: 100%;
}
.marked
{
    color:#ec0006;
    font-family:Consolas;
    font-size: 100%;
}
.grey
{
    color:#696969;
    font-family:Consolas;
    font-size: 100%;
}
.good
{
    color:#00ff44;
    font-family:Consolas;
    font-size: 100%;
}
span {
    font-family:Consolas;
    color:#FFFFFF;
}
.card {
    position: relative;
    box-shadow: 7px 7px 0px 0px rgb(255, 0, 0);
    max-width: 120px;
    /* border: none; */
}
.card .title{
    text-align: center;
    padding: 12px 0;
    /* background-color: rgb(25, 25, 25); */
    /* margin-top: -4px; */
}
.card img{
    /* filter: invert(10%); */
    width: 100%;
}
.row {
    clear: both;
    display: table;
}
.column {
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 100%;
    width: 100%;
    opacity:0;
    transition: .5s ease;
    background-color: #e40000;
}
/* .overlaytext {
    opacity: 0;
    color: white;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
} */
.card:hover .overlay {
    opacity: 0.5;
}
a:focus .card .overlay {
    opacity: 0.5;
}
/* .card:hover .overlaytext {
    opacity: 1;
}
   */
.hangman {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 40%;
    max-height: 100%;
}
.skip-nav {
    position: absolute;
    transform: translateY(-200%);
    background-color: rgb(187, 0, 0);
}
.skip-nav:focus {
    transform: translateY(0);
}