.slot div img {
    position: absolute;
}
.slot div {
    position: absolute;
}
.slot {
    position: relative;
    margin-left: min(50% - 250px);
    margin-top: 100px;
    width: 500px;
}
[id*="wheel-"] img{
    width: 100%;
}
[id*="wheel-"] {
    margin-top: 100px;
    width: 20%;
    overflow: hidden;
    height: 300px;
}
#wheel-1 {
    margin-left: 15%;
}
#wheel-2 {
    margin-left: 40%;
}
#wheel-3 {
    margin-left: 65%;
}
.machine {
    width: 100%;
}
.machine img{
    width: 100%;
}
button {
    margin-top: 500px;
    width: 200px;
    margin-left: min(50% - 100px);
}