.title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.path {
    font-size: 1em;
    margin-bottom: 0.5em;
}

.description {
    font-size: 1em;
    margin-bottom: 1em;
}

.list {
    width: 100%;
    height: fit-content;
}

.game {
    position: relative;
    float: left;
}

.game * {
    display: flex;
    float: none;
}

#dummy {
    display: none;
}