.container {
    display: grid;
    grid-template-columns: 60% 40%;
    min-height: calc(100vh - 46px);
}

.map-area {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mapControls {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(139, 17, 17, 0.8);
    padding: 10px;
    display: flex;
    gap: 5px;
}

#mapZoom {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgba(139, 17, 17, 0.8);
    padding: 10px;
    display: flex;
    gap: 5px;
}

.dirButton.selected {
    background: darkred;
}

img,
canvas {
    image-rendering: pixelated;
}

.mapBox {
    position: relative;
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.xSize {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.xSize input {
    text-align: center;
    width: 50px;
    height: 18px;
}

.ySize {
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.ySize input {
    width: 18px;
    height: 50px;
    text-align: center;
}

#zoomLevel {
    text-align: center;
    width: 50px;
    height: 18px;
}

#scaleMe {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#backgroundCanvas {
    position: absolute;
}

#mainCanvas {
    position: absolute;
    background-color: white;
}

#poiCanvas {
    position: absolute;
}

@font-face {
    font-family: 'unifont';
    src: url('unifont-16.0.04.woff2') format('woff2');
}

.list-header {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#objectList * {
    font-family: 'unifont', MainFont;
}

#objectList {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    background-color: darkblue;
    position: relative;
    overflow: hidden;
}

.poi-list {
    list-style-type: none;
    padding: 0;
}

.list-obj {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}

.drag-icon {
    cursor: move;
}

.drag-icon img {
    width: 40px;
    height: 40px;
    filter: invert(1);
}

.banner-icon {
    display: flex;
    align-items: center;
    background-color: gainsboro;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.banner-icon img {
    width: 40px;
    height: 40px;
    image-rendering: pixelated;
}

.obj-x,
.obj-z {
    width: 50px;
    text-align: center;
}

.startPOI,
.endPOI {
    width: 100px;
}

.remove-obj {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bannerSelector {
    pointer-events: all;
    background-color: blueviolet;
    display: flex;
    flex-wrap: wrap;
    width: 247px;
    gap: 10px;
    padding: 10px;
}