.container {
    display: grid;
    grid-template-columns: 60% 40%;
    min-height: calc(100vh - 46px);
}

.map-area {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

img,
canvas {
    image-rendering: pixelated;
}

#backgroundCanvas {
    position: absolute;
    scale: calc(64/58 * 8);
}

#mainCanvas {
    position: absolute;
    scale: 4;
    background-color: white;
}

#poiCanvas {
    position: absolute;
    scale: 1;
}

@font-face {
    font-family: 'unifont';
    src: url('unifont-16.0.04.woff2') format('woff2');
}

#objectList * {
    font-family: 'unifont', MainFont;
}

#objectList {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    background-color: darkblue;
}

.poi-list {
    list-style-type: none;
    padding: 0;
}

.list-obj {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}

.banner-icon {
    display: flex;
    align-items: center;
    background-color: gainsboro;
    padding: 5px;
    border-radius: 10px;
}

.banner-icon img {
    width: 40px;
    height: 40px;
    image-rendering: pixelated;
}

.obj-x,
.obj-z {
    width: 50px;
    text-align: center;
}

.remove-obj {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
}