#dummy {
    display: none;
}
.hidden {
    display: none;
}
#container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.panel {
    position: relative;
    margin: 10px;
    width: 300px;
    height: fit-content;
    background-color: rgb(0, 0, 0);
    pointer-events: auto;
    border: 1px solid #ccc;
    padding: 10px;
}
.right-panel {
    position: absolute;
    right: 0;
    top: 0;
}
.panel-content {
    overflow: auto;
    border: 1px solid #ccc;
    padding: 10px;
}
.layer {
    border: 1px solid #ccc;
}
.layer.selected {
    border-color: #c22222;
    border-width: 2px;
}
.layer-canvas {
    transform-origin: 0 0;
    transform: scale(2);
    image-rendering: pixelated;
    margin-right: 64px;
}
.column {
    display: inline-block;
}
.half {
    width: 50%;
    overflow: hidden;
}
.arrow-button {
    display: block;
}
.canvas-container {
    height: 128px;
}

.part-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.part-row > div {
    padding: 6px;
    margin: 3px;
}

.part-select:hover:not(:has(*:hover)) {
    border-color: #c22222;
    border-width: 3px;
}

.part-select {
    border: 2px solid #ccc;
    background-color: black;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.inner-part {
    position: relative;
    height: 100%;
}

.active {
    background-color: #ccc;
}

.part-head {
    height: 64px;
    width: 64px;
}

.part-body {
    height: 96px;
    width: 64px;
}

.part-long {
    height: 96px;
    width: 32px;
}

.toolbar {
    height: 50px;
    position: relative;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
}

.toolbar-section {
    position: relative;
    display: inline-block;
    padding: 10px;
}

.toolseparator {
    border-left: 1px solid #ccc;
    position: relative;
    display: inline-block;
    height: 30%;
}
input[type="text"] {
    width: attr(data-length px, 100%);
}