/* Hotdog */
#hotdog {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 250px;
    transform: translateY(200%);
}
#hotdog:focus {
    transform: translateY(0);
}

/* skull */
.skull-container {
    top: -100px;
    max-width: 80vh;
    position: relative;
}
.skull {
    width: 100%;
    animation: flicker 4s infinite linear;
}
.top-skull {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.skull-img {
    width: 100%;
    animation: hover 15s infinite;
    animation-timing-function: ease-in-out;
    background: none !important;
}
.skull .skull-img {
    filter: drop-shadow(0 0 14px #F00);
    /* 8-16 */
}
.skull .shadow {
    width: 60%;
    height: 0;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 15%;
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 50%;
    filter: blur(25px);
    transform: translateY(-60%) !important; 
    animation: hover 15s infinite;
    animation-timing-function: ease-in-out;
}

@keyframes hover {
    0% {
        transform: translateY(0);
        background-color: rgba(255, 0, 0, 0.55);
    }
    10% {
        transform: translateY(15px);
        background-color: rgba(255, 0, 0, 0.70);
    }
    20% {
        transform: translateY(-5px);
        background-color: rgba(255, 0, 0, 0.50);
    }
    30% {
        transform: translateY(15px);
        background-color: rgba(255, 0, 0, 0.70);
    }
    40% {
        transform: translateY(0);
        background-color: rgba(255, 0, 0, 0.55);
    }
    50% {
        transform: translateY(10px);
        background-color: rgba(255, 0, 0, 0.65);
    }
    60% {
        transform: translateY(-5px);
        background-color: rgba(255, 0, 0, 0.50);
    }
    70% {
        transform: translateY(10px);
        background-color: rgba(255, 0, 0, 0.65);
    }
    80% {
        transform: translateY(0);
        background-color: rgba(255, 0, 0, 0.55);
    }
    90% {
        transform: translateY(20px);
        background-color: rgba(255, 0, 0, 0.75);
    }
    100% {
        transform: translateY(0px);
        background-color: rgba(255, 0, 0, 0.55);
    }
}

@keyframes flicker {
    0% {
        opacity: 0.1;
    }
    1% {
        opacity: 1;
    }
    2% {
        opacity: 0.1;
    }
    4% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}