:root {
    --main-red: #ec0006;
}
*{
    font-family: Consolas;
    color:#FFFFFF;   
}
body {
    margin: 0px;
    padding: 0px;
    background-color:black;
}
a {
    font-family:Consolas;
}
textarea {
    background-color:black;
    color:#FFFFFF;
    resize: none;
    padding: 2px;
}
input {
    background-color:black;
    color:#FFFFFF;
    padding: 2px;
    border: 1px solid #ffffff;
}
a:link {
    text-decoration: none;
    color: var(--main-red);
}

a:visited {
    text-decoration: none;
    color: var(--main-red);
    /* color: #b10000; */
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.center {
    text-align: center;
    margin-top: 55px;
}
.main {
    margin-left: 10px;
    margin-top: 55px;
}
.main-content {
    min-height: calc(100vh - 46px);
    margin-top: 46px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--main-red);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

li:not(.casino) {
    float: left;
}
li.casino {
    float: right;
}

li .menu {
    font-size: 16px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.casino .menu {
    padding: 14px 0px;
}
.casino img {
    display: block;
    text-align: center;
    width: 34px;
    float: left;
    padding: 5px 10px 5px 5px;
}
li a:hover:not(.active) {
    background-color: rgb(187, 0, 0);
}
li a:focus:not(.active) {
    background-color: rgb(187, 0, 0);
}
.active {
    background-color: #000000;
}
.corner {
    position: fixed;
    right: 0;
    bottom: 0;
}
.skip-nav {
    position: fixed;
    transform: translateY(-200%);
    background-color: rgb(187, 0, 0);
}
.skip-nav:focus {
    transform: translateY(0);
}
button {
    background-color: black;
    border-color: white;
}
#hotdog {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 250px;
    transform: translateY(200%);
}
#hotdog:focus {
    transform: translateY(0);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--main-red); 
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(187, 0, 0);
}

/* footer */

footer {
    background-color: var(--main-red);
    color: white;
    text-align: center;
    width: 100%;
    padding-top: 1px;
    padding-bottom: 20px;
}